body {
  font-family: "Mona Sans", serif;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -0.5)),
    url("../media/clocks-1.jpg");
  background-size: cover;
}
.world-clock-container {
  background-color: rgba(255, 255, 255, 0.86);
  max-width: 605px;
  margin: 60px auto;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
  color: rgba(0, 0, 0, 0.967);
}
header {
  text-align: center;
}
h1 {
  padding-top: 20px;
}
select {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.866);
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}
select:hover {
  cursor: pointer;
}
.select-items {
  display: flex;
  justify-content: center;
}
#select-time-format {
  margin-right: 8px;
}
.user-greeting {
  padding: 0 10px;
  margin: 20px auto -10px;
  font-size: 13.5px;
  font-weight: 600;
  font-family: "Merienda", serif;
  color: rgba(0, 0, 0, 0.7);
}
.cities {
  padding: 15px 5px 0;
  margin: auto 5px;
}
.each-city {
  margin: 30px 10px;
  padding: 15px 20px 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(174 174 174 / 40%);
  border: 1px solid rgba(207, 247, 247, 0.4);
  border-radius: 15px;
}
.city-and-date {
  margin-right: 10px;
}
h2 {
  margin: 0;
  font-size: 22px;
}
.date {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}
.time {
  margin-top: 3px;
  font-size: 33px;
  font-weight: 800;
  font-family: "Roboto Mono", serif;
}
small {
  font-size: 18px;
  position: relative;
  top: -5px;
  left: -6px;
}
.switch-page {
  display: block;
  text-align: center;
  font-size: 13.5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 30px;
  transition: all ease-in-out 350ms;
}
.switch-page:hover {
  color: black;
  font-size: 13.7px;
}
footer {
  margin: 0 auto 30px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  padding: 20px 5px;
  background-color: rgba(255, 255, 255, 0.86);
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
}
footer .clock-icon {
  color: rgba(0, 0, 0, 0.85);
  font-size: 19px;
  position: relative;
  bottom: -4px;
  background-color: #80808066;
  border-radius: 13px;
  box-shadow: 0 0 1px #41404087;
}
footer a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.967);
  transition: all ease-in-out 350ms;
}
footer a:hover {
  font-size: 14.3px;
  cursor: pointer;
  color: rgba(30, 30, 30, 0.903);
  text-decoration: none;
}

@media (max-width :600px) {
  h1 {
    font-size: 29px;
  }
  .select-items{
    flex-direction: column;
  }
  #select-time-format {
    margin-right: 0;
    text-align: center;
  }
  #select-city{
    margin-top: 10px;
    text-align: center;
  }
  .each-city {
    flex-direction: column;
    text-align: center;
  }
  .time {
    font-size: 26px;
  }
}

@media (max-width : 400px) {
  h1 {
    font-size: 26px;
  }
  .time {
    font-size: 24px;
  }
}
